<h1>show my list</h1>

<h3><%= @list.name %></h3>
<%= link_to "back to the list", lists_path %>
<% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <%= image_tag movie.poster_url%>
    <strong><%= movie.title %></strong>
    <%= movie.rating %>
    <%= movie.overview %>
    <%= bookmark.comment %>
<% end %>
